@import url(style/index.css);
@import url(style/header.css);
@import url(style/rodape.css);
@import url(style/inicial.css);
@import url(style/cadastro.css);

:root{
    --cor-de-fundo: #E5E5E5;
    --cor-de-fundo-inicial: #3772FF;
    --fonte-principal: "Poppins";
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --coral-hover: #FF9D9E;
    --creme: #FCF0E3;
    --cinza-escuro: #737380;
    --cinza-medio: #BCBCBC;
    --cinza-claro: #F6F6F6;
    --branco: #FFFFFF;
}

body{
    background: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.teste{
    /* height: 100cm; */
}