.cabecalho{
    background: url(../img/forma-header.svg) no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.cabecalho-link{
    padding: 3em 1.5em;
}

