body .inicial{
    background-image: url(../img/gato-cachorro.svg), url(../img/Forma\ 2.svg);
    background-repeat: no-repeat;    
    background-color: var(--cor-de-fundo-inicial);
    background-position: bottom center, center right;
    height: 43em;
}

.inicial{
    text-align: center;
    padding: 10em 0 0;
}

.inicial-titulo{
    font-size: 26px;
    font-weight: 500;
    color: var(--branco);
    padding: 1.5em 0 1em;
}

.inicial-texto{
    color: var(--branco);
    padding: 0 4em 1.5em;
}

.botoes{
    display: flex;
    flex-direction: column;
}

.inicial-botoes{
    background: var(--coral);
    padding: 1em 2em;
    font-weight: 600;
    color: var(--branco);
    text-decoration: none;
    margin: 1em 5em;
    border-radius: 6px;
}